// Colors
$black:          rgb( 18,  18,  18) !default;
$black-bis:      rgb( 36,  36,  36) !default;
$black-ter:      rgb( 54,  54,  54) !default;

$grey-darker:    rgb( 74,  74,  74) !default;
$grey-dark:      rgb(100, 100, 100) !default;
$grey:           rgb(180, 180, 180) !default;
$grey-light:     rgb(200, 200, 200) !default;
$grey-lighter:   rgb(240, 240, 240) !default;

$white-ter:      rgb(252, 252, 252) !default;
$white-bis:      rgb(254, 254, 254) !default;
$white:          rgb(255, 255, 255) !default;

/*$black:          hsl(216, 57%, 7%) !default;
$black-bis:      hsl(216, 57%, 11%) !default;
$black-ter:      hsl(216, 57%, 21%) !default;

$grey-darker:    hsl(216, 57%, 31%) !default;
$grey-dark:      hsl(216, 57%, 41%) !default;
$grey:           hsl(216, 57%, 51%) !default;
$grey-light:     hsl(216, 57%, 61%) !default;
$grey-lighter:   hsl(216, 57%, 71%) !default;

$white-ter:      hsl(216, 57%, 80%) !default;
$white-bis:      hsl(216, 57%, 85%) !default;
$white:          hsl(216, 57%, 90%) !default;*/

$true-white:     rgb(255, 255, 255) !default;
$blue-ligher:    rgb(  0, 255, 255) !default;
$turquoise:      rgb(  3, 230, 175) !default;
$emerald:        rgb(  5, 204,  95) !default;
$green-darker:   rgb(  8, 179,  15) !default;
$green:          rgb( 88, 204,  10) !default;
$green-lighter:  rgb(168, 228,   5) !default;
$yellow:         rgb(248, 253,   0) !default;
$yellow-darker:  rgb(255, 228,   0) !default;
$orange-yellow:  rgb(255, 198,   0) !default;
$orange-darker:  rgb(255, 168,   0) !default;
$orange:         rgb(255, 115,   0) !default;
$orange-red:     rgb(255,  60,   0) !default;
$red:            rgb(255,   5,   0) !default;
$red-darker:     rgb(204,   0,  41) !default;
$purlple:        rgb(148,   0,  87) !default;

// Typography
$fa-font-path: '~font-awesome/fonts';
$text: $grey-darker;
$text-light: $text;
$text-strong: $grey-darker;
$title: $text-strong;
$subtitle: $text-strong;
$input: $grey-darker;
$input-icon-active: $input;

// Primary colors
$primary: $title;
$body-background: $white;

$input-background: $body-background;

$info:    $blue-ligher;
$success: $emerald;
$warning: $orange-yellow;
$danger:  $orange-red;

$dark: $grey;
$light: $grey-lighter;

$speed0:  $true-white;
$speed1:  $blue-ligher;
$speed2:  $turquoise;
$speed3:  $emerald;
$speed4:  $green-darker;
$speed5:  $green;
$speed6:  $green-lighter;
$speed7:  $yellow;
$speed8:  $yellow-darker;
$speed9:  $orange-yellow;
$speed10: $orange-darker;
$speed11: $orange;
$speed12: $orange-red;
$speed13: $red;
$speed14: $red-darker;
$speed15: $purlple;



// Generics class

.is-primary:not(.button) {
  color: $primary;
}
.button.is-primary {
  color: $body-background;
  &, &:hover, &:focus {
    color: $body-background;
  }
  &.is-outlined, &.is-inverted, &.is-outlined.is-inverted {
    &, &:hover {
      background-color: transparent;
      border-color: $white;
      color: $white;
    }
    &:focus {
      color: $body-background;
      background-color: $white-bis;
    }
  }
}
.is-info:not(.button) {
  color: $info;
}
.button.is-info {
  color: $body-background;
  &, &:hover, &:focus {
    color: $body-background;
  }
  &.is-outlined, &.is-inverted, &.is-outlined.is-inverted {
    &, &:hover {
      background-color: transparent;
      border-color: $info;
      color: $info;
    }
    &:focus {
      color: $body-background;
      background-color: $info;
    }
  }
}
.is-success:not(.button) {
  color: $success;
}
.button.is-success {
  color: $body-background;
  &, &:hover, &:focus {
    color: $body-background;
  }
  &.is-outlined, &.is-inverted, &.is-outlined.is-inverted {
    &, &:hover {
      background-color: transparent;
      border-color: $success;
      color: $success;
    }
    &:focus {
      color: $body-background;
      background-color: $success;
    }
  }
}
.is-warning:not(.button) {
  color: $warning;
}
.button.is-warning {
  color: $body-background;
  &, &:hover, &:focus {
    color: $body-background;
  }
  &.is-outlined, &.is-inverted, &.is-outlined.is-inverted {
    &, &:hover {
      background-color: transparent;
      border-color: $warning;
      color: $warning;
    }
    &:focus {
      color: $body-background;
      background-color: $warning;
    }
  }
}
.is-danger:not(.button) {
  color: $danger;
}
.button.is-danger {
  color: $body-background;
  &, &:hover, &:focus {
    color: $body-background;
  }
  &.is-outlined, &.is-inverted, &.is-outlined.is-inverted {
    &, &:hover {
      background-color: transparent;
      border-color: $danger;
      color: $danger;
    }
    &:focus {
      color: $body-background;
      background-color: $danger;
    }
  }
}

nav.nav, .card {
  background-color: $body-background;
}

::-webkit-input-placeholder {
  color: $white;
  opacity: 0.7;
}
